{% extends "base.html" %} {% block title %}Login{% endblock %} {%block content%}
<div
  class="container-fluid w-custom mt-custom border border-dark pl-custom shadow-lg"
>
  <form>
    <div class="name">
      <h3 align="center">Login</h3>
    </div>
    <div class="form-group">
      <label for="email" class="pl-3">Email id</label>
      <input
        type="email"
        class="form-control border-solid border-top-0 border-left-0 border-right-0 shadow"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="password" class="pl-3">Password</label>
      <input
        type="password"
        class="form-control border-solid border-top-0 border-left-0 border-right-0 shadow"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary mb-custom">Login</button>
  </form>
</div>
{% endblock %}
